:root {
  --primary-color: #e50914;
  --dark-color: #141414;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #999;
  display: block;
  clear: both;
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: black;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
p {
  margin: 0.5rem 0;
}
.background {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(img/background1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
}

nav {
  background-color: transparent;
}
.navbar {
  padding: 0 16px !important;
}
.email {
  margin-right: -5px;
  font-size: 1rem;
  width: 300px;
  padding-left: 15px;
  padding-top: 2rem;
  padding-right: 4.5rem;
  padding-bottom: 15px;
  border-radius: 2px;
  border: none;
  position: relative;
  top: 10px;
}
.email:active {
  border: none;
}
#emailhold {
  position: relative;
  top: 40px;
  left: -265px;
  z-index: 5;
}
.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
}
.showcase-content {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12rem;
}
.showcase-content i {
  color: white;
  font-size: 50px;
}
.showcase-content h1 {
  font-weight: 500;
  font-size: 5rem;
  line-height: 1.1;
  margin-bottom: 0 0 2rem;
}
.showcase-content p {
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.25rem;
  margin: 0 0 2rem;
}
#mainbutton {
  width: 350px;
  font-size: 20px;
}

/* Buttons */

.btn {
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  outline: none;
  border-radius: 2px;
}
.btn:hover {
  opacity: 0.9;
  color: white;
}

.btn-xl {
  margin-right: 0px;
  font-size: 2rem;
  padding: 0.7rem 2.7rem;
  text-transform: uppercase;
}
@media (max-width: 960px) {
  .showcase {
    height: 70vh;
  }

  .showcase-content h1 {
    font-size: 3.7rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .showcase::after {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
  }

  .showcase-content h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .showcase-content p {
    font-size: 1rem;
  }

  #mainbutton {
    width: 250px;
    font-size: 1rem;
    padding: 1.2rem 1.6rem;
    text-transform: uppercase;
  }
}

@media (max-height: 600px) {
  .showcase-content {
    margin-top: 3rem;
  }
}
/*sign in*/
#signin {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1px;
  margin: auto;
  float: center;
}
.btn {
  width: 100%;
  margin: 15px 0;
}
.exampleInput {
  position: relative;
  top: 22px;
  left: 12px;
  font-size: small;
}
.form-control {
  padding-top: 19px;
  height: 50px;
}
a:hover {
  color: #2c2c2c;
  text-decoration: none;
}
/*sign in end*/
/*footer*/
.socials {
  color: rgb(185, 185, 185) !important;
  font-size: 20px;
}
.socials i {
  padding-right: 10px;
}
.footer a {
  font-size: 13px;
  padding: 2px;
  color: rgb(185, 185, 185) !important;
}
.btn-footer {
  color: rgb(185, 185, 185);
  border: 1px solid rgb(185, 185, 185);
  background-color: transparent;
  height: 30px;
  text-align: center;
  transition: all ease 0.15s;
}
.btn-footer:hover {
  background-color: rgb(185, 185, 185);
  color: #2c2c2c;
  border: 1px solid rgb(185, 185, 185);
  transition: all ease 0.25s;
}
footer {
  font-size: 13px;
  padding: 2px;
  transition: all ease 0.15s !important;
  color: rgb(185, 185, 185) !important;
}

.footer-link:hover {
  transition: all ease 0.15s !important;
  color: #fff !important;
}
/*footer*/
